<form method="post">
    <div class="card">
        <div class="card-header">
            Thêm người dùng
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtAccount">Tài khoản</label>
                <input type="text" class="form-control" id="txtAccount" name="Username" autofocus>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="txtAccountType">Chọn phân hệ</label>
                </div>
                <select class="custom-select" id="txtAccountType" name="Type" required
                        oninvalid="this.setCustomValidity('Choose type of account')"
                        oninput="this.setCustomValidity('')">
                    <option value="">Choose...</option>
                    <option value=1>Admin</option>
                    <option value=2>Bidder</option>
                    <option value=3>Seller</option>
                </select>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-success" href="/admin/accounts" role="button">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                Danh sách
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Lưu
            </button>
        </div>
    </div>
</form>
