

{{#section 'css'}}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.5/themes/fa/theme.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <script>
        $('#txtDateExpired').datetimepicker({
            mask: true
        });
    </script>
    <script>
        $('#fuMain').fileinput({
            dropZoneEnabled: false,
            maxFileCount: 5,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            theme: 'fa',
            language: 'vi',
        });
        $('#fuThumb').fileinput({
            dropZoneEnabled: false,
            maxFileCount: 5,
            allowedFileExtensions: ['jpg', 'png', 'gif'],
            theme: 'fa',
            language: 'vi',
        });
    </script>

    <script>
        tinymce.init({
            selector: '#txtFullDes',
            plugins: 'paste image link autolink lists table media',
            menubar: false,
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
            ],
        });
    </script>

{{/section}}

<form method="post">
    <div class="card">
        <h4 class="card-header">
            Sản phẩm mới
        </h4>
        <div class="card-body">
            <div class="form-group">
                <label for="txtProName">Tên sản phẩm</label>
                <input type="text" class="form-control" id="txtProName" name="ProName" autofocus>
            </div>
            <div class="form-group">
                <label class="col-form-label " for="txtCat">Danh mục</label>
                <div class="input-group">
                {{#each lcParentCat as |parent|}}
                    <div class="btn-group" style="border-style: solid; border-width: 1px">
                        <button type="button" id="txtCat" class="btn btn-outline text-left"  data-toggle="dropdown">
                            <h5>{{parent.Name}}</h5>
                        </button>
                        <div class="dropdown-menu w-100">
                            {{#each ../lcChildCat as |child|}}
                                {{#if (isChild child.ParentID parent.CategoryID)}}
                                    <a class="dropdown-item" id={{child.CategoryID}}"><h6>{{child.Name}}</h6></a>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>

            <div class="form-group">
                <label for="fuMain">Ảnh chính</label>
                <input type="file" id="fuMain" name="fuMain" >
            </div>
            <div class="form-group">
                <label for="fuThumb">Ảnh phụ mô tả thêm về sản phẩm</label>
                <input type="file" id="fuThumb" name="fuThumb" multiple>
            </div>
            <div class="form-group">
                <label for="txtProName">Lời giới thiệu</label>
                <input type="text" class="form-control" id="txtTinyDes" name="TinyDes" autofocus>
            </div>
            <div class="form-group">
                <label for="txtDateExpired">Ngày hết hạn</label>
                <input type="text" class="form-control" id="txtDateExpired" name="DateExpired" />
            </div>
            <div class="form-group">
                <label for="txtFullDes">Mô tả chi tiết</label>
                <textarea id="txtFullDes" name="FullDes"></textarea>
            </div>
            <div class="form-group">
                <label for="txtPriceBuyNow">Gía mua ngay</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="txtPriceBuyNow" name="PriceBuyNow" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="txtStartingPrice">Gía khởi điểm</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="txtStartingPrice" name="StartingPrice" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="txtStep">Bước giá</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="txtStep" name="Step" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" value="1" id="autorenew">
                <label class="form-check-label" for="auto-renew">
                    <b>Tự động gia hạn</b>
                </label>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" value="1" id="ratingrequire">
                <label class="form-check-label" for="auto-renew">
                    <b>Cho phép bidder chưa được đánh giá mua hàng</b>
                </label>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>