<form method="post">
    <div class="card" style="background-color: #e0c1f2">
        <h4 class="card-header" style="background-color: #b7aef2; color: #9A0680; font-weight: bold">
            Chỉnh sửa danh mục
        </h4>
        <div class="card-body">
            <div class="form-group">
                <label for="txtCatID" style="font-weight: bold; font-size: large">ID</label>
                <input type="text" class="form-control" id="txtCatID" name="CategoryID" readonly
                       value="{{this.category.CategoryID}}" style="font-weight: bold; font-size: large;">
            </div>
            <div class="form-group">
                <label for="txtCatName" style="font-weight: bold; font-size: large">Danh mục</label>
                <input type="text" class="form-control" id="txtCatName" name="Name" autofocus
                       value="{{this.category.Name}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="txtParentCatName" style="font-weight: bold; background-color: #ffdeac">Chọn danh mục cha</label>
                </div>
                <select class="custom-select" id="txtParentCatName" name="ParentID" required oninvalid="this.setCustomValidity('Choose the parent category')" oninput="this.setCustomValidity('')">
                    <option value="">Choose...</option>
                    <option value="null">None</option>
                    {{#each this.categories}}
                        <option value={{CategoryID}}>{{Name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-success" href="/admin/categories" role="button">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                Danh sách
            </a>
            <button type="submit" class="btn btn-danger" formaction="/admin/categories/del">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Xoá
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/categories/patch">
                <i class="fa fa-check" aria-hidden="true"></i>
                Lưu
            </button>
        </div>
    </div>
</form>
